@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

.navbar{
    background-color: aqua;
}

.navbar-brand{
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
}

.header{
    height: 800px;
    background-image: url("header.jpg");
    background-size:cover;
    display: flex;
}

.header-child-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-child-2{
    width: 50%;

}

.title{
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    padding: 60px 100px;
}

.titleH1{
    font-weight: 900;
    color: black;
}

.titleH3{
    font-weight: 700;
    text-align: end;
    color: #c1521b;
}

.titleH4{
    font-weight: 700;
    text-align: end;
    color: black;
}

.form{
    direction: ltr;
    background-color: rgba(255, 255, 255, 0.76);
    margin: 0px;
    margin-bottom: 0;
    width: 500px;
    padding: 20px 20px;
    border-radius: 12px;
    box-shadow: 5px 8px 8px 1px #88888880;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Cairo', sans-serif;
}


.container{
    display: flex;
    background-color: #e7edfd;
    
}

.myNav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.font{
    font-family: 'Cairo', sans-serif;

}